
.square {
  display: flex;
  width: 32px;
  height: 32px;
  justify-content: center;
  align-items: center;
  border-top: 3px solid #d3d3d3;
  border-left: 3px solid #d3d3d3;
  border-bottom: 3px solid #808080;
  border-right: 3px solid #808080;
  background-color: #aaa;
  box-sizing: border-box;
  cursor: pointer;
}

.square--checked {
  background-color: #eee;
  border: 1px solid #d3d3d3;
  cursor: default;
}

.square--pushed {
  border-top: 3px solid #808080;
  border-left: 3px solid #808080;
  border-bottom: 3px solid #d3d3d3;
  border-right: 3px solid #d3d3d3;
}

.square--count-1 {
  color: #0000ff;
}

.square--count-2 {
  color: #008000;
}

.square--count-3 {
  color: #ff0000;
}

.square--count-4 {
  color: #800080;
}

.square--count-5 {
  color: #800000;
}

.square--count-6 {
  color: #40e0d0;
}

.square--count-7 {
  color: #000000;
}

.square--count-8 {
  color: #808080;
}
